<div class="fixed min-h-full min-w-full bg-black/50 z-50">
<div class="fixed z-50 top-1/4 left-0 right-0">
    <div class="bg-white p-6 rounded-lg shadow-lg max-w-sm mx-auto">
        <h2 class="text-xl font-bold mb-4">Correo Verificado</h2>
        <p class="text-gray-700 mb-6">Su cuenta ha sido verificada exitosamente. <br> Ahora podrá acceder a nuestros servicios. <br> Inicie sesión si es necesario.</p>
        <a class="w-full bg-red-500 hover:bg-red-600 text-white py-2 px-4 rounded" href="/">
            Aceptar
        </a>
    </div>
</div>
</div>

